body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER */
.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-nav-item {
}
.header-nav-link {
  display: block;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
}

.current {
  font-weight: 600;
}
.header-btn-list {
  display: flex;
  gap: 21px;
}
.header-btn-item {
}
.header-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  font-weight: 600;
  text-align: center;
  color: #173a56;
  background-color: transparent;
}

.header-btn:hover,
.header-btn:focus {
  color: #fff;
  background-color: #02897a;
  border: none;
}

/* SECTION HERO */

.container {
}

.hero-container {
  display: flex;
  align-items: center;
  padding-top: 25px;
  justify-content: space-between;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  max-width: ;
}
.title-text {
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  max-width: ;
}
.hero-list {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.hero-list-button1 {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background-color: #02897a;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.hero-list-button2 {
  width: 164px;
  height: 53px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;
  border: 0;
}
.hero-img {
}

/* SECTION PRODUCT */

.product-container {
}
.product-title {
}
.product-list {
  display: flex;
}
.product-list-item {
}
.product-list-name {
}
.product-list-text {
}
